#####################################################
#
# List of approvers for molestaShoper/helm-chart
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @molestaShoper
